<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>


    <div class="container-fluid">
        <div class="h1 text-center">Api List</div>
        <div class="row d-flex justify-content-center align-center">
            <div class="col-md-10">
                <a href="/api/article/docs" target="_blank">
                    <div class="card mt-3">
                        <div class="card-body text-center btn btn-outline-warning">
                            <h3>Article</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-10">
                <a href="/api/nutrition/docs" target="_blank">
                    <div class="card mt-3">
                        <div class="card-body text-center btn btn-outline-primary">
                            <h3>Nutrition</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-10">
                <a href="/api/ingredient/docs" target="_blank">
                    <div class="card mt-3">
                        <div class="card-body text-center btn btn-outline-warning">
                            <h3>Ingredient</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-10">
                <a href="/api/recipe/docs" target="_blank">
                    <div class="card mt-3">
                        <div class="card-body text-center btn btn-outline-primary">
                            <h3>Recipe</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>